body{
    background-color: black !important;
}
.home-conteiner-image-text {
    margin-top: 2rem;
}
@media (min-width:700px) {
    .home-conteiner-image-text{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
}

.home-image{
    border-radius: 50% 20% / 10% 40%;
}
@media (max-width:700px){
    .home-image{
        border-radius: 50% 20% / 10% 40%;
        width: 100%;
    }
}
.conteiner-text{
    width: 50%;
    padding: 2%;
    padding-left: 3%;
}
@media (max-width:700px){
    .conteiner-text{
       width: 100%;
       padding: 0rem 1rem 1rem 1rem;
    }
}
.home-text-h1{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 3px;
    letter-spacing: 1px;
    background: url("https://i.blogs.es/fdb062/programacion-2-e1551291144973/450_1000.webp");
    -webkit-background-clip: text ;
    background-clip: text;
    background-size:200px;
    background-position:top;
    color: transparent;
    text-align: center;
}
@media (max-width:700px){
    .home-text-h1{
        font-size: 24px;
    }
}
.home-text-p{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
}