.iten-work{
   display:flex;
   background-color: black !important;
   
}
.conteine-card-work{
   width: 85%;
}
.enlace-work{
   text-decoration: none;
   color: white;
   padding: .3rem 2rem;
   background-color: blue;
   font-weight: 900;
   margin-right: 20px;
}
.enlace-github-work{
   background-color: green;
   text-decoration: none;
   color: white;
   padding: .3rem 1rem;
   font-weight: 900;
}
.conteiner-links-works{
   display: flex;
   justify-content: center;
}
.text-card-work{
   padding: 0px 20px;
   color: white;
}