body{
    background-color: black !important;
}
.home-conteiner-image-text{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.home-image{
    border-radius: 50% 20% / 10% 40%;
}
.conteiner-text{
    width: 50%;
    padding: 2%;
    padding-left: 3%;
}
.home-text-h1{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 3px;
    letter-spacing: 1px;
    background: url("https://i.blogs.es/fdb062/programacion-2-e1551291144973/450_1000.webp");
    -webkit-background-clip: text ;
    background-clip: text;
    background-size:200px;
    background-position:top;
    color: transparent;
}
.home-text-p{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}